.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .top-bar {
    width: 100%;
    padding: 1rem;
    background-color: #3366ff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow-container {
    width: 100%;
    text-align: left;
    padding: 1rem 0;
    margin-left: 1rem;
    margin-top: -0.5rem;
  }
  
  .back-arrow-intro {
    width: 2rem;
    height: 3.2rem;
    cursor: pointer;
    margin-left: 0.2rem;
  }
  
  .title {
    font-size: 1rem;
    font-family: "M PLUS 2", sans-serif;
    margin-left: 1vw;
  }

  .title-1 {
    font-size: 0.9rem;
    font-family: 'Paperlogy-4Regular';
    margin-top: 2.2rem;
    margin-bottom: -1.5rem;
  }
  
  .title-2 {
    font-size: 1.7rem;
    font-family: "M PLUS 2", sans-serif;
  }
  
  .hearts {
    font-size: 1.5rem;
    margin-right: 1vw;
  }
  
  .content {
    text-align: center;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
  }
  
  .container {
    background-color: #e0f2fe;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin-top: -3.5rem;

  }
  
  .container h2 {
    font-family: 'Paperlogy-5Medium';
    font-size: 2rem;
    color: #3366ff;
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  
  .container p {
    font-family: 'Paperlogy-4Regular';
    font-size: 1.3rem;
    color: #1b3a98;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .container h3 {
    font-family: 'Paperlogy-4Regular';
    font-size: 1.3rem;
    color: #1b3a98;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .rules {
    text-align: left;
    font-family: "M PLUS 2", sans-serif;
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 1.5rem;
  }
  
  .rules p {
    margin: 0.5rem 0;
  }
  
  .submit-button {
    font-family: 'Paperlogy-4Regular';
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #254edb;
  }
  
  .bottom-bar {
    width: 100%;
    padding: 1rem;
    background-color: #3366ff;
    color: white;
  }

  .bottom-bar p {
    text-align: left;
    margin-left: 0.4rem;
    margin-top: -0.1rem;
    font-family: "M PLUS 2", sans-serif;
  }
  