@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=M+PLUS+2:wght@100..900&family=Nanum+Gothic&display=swap');

@font-face {
  font-family: 'Paperlogy-4Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-5Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-6SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.top-bar {
  width: 100%;
  padding: 1rem;
  height: auto;
  background-color: #3366ff;
  color: white;
  text-align: center;
}

.bottom-bar {
  width: 100%;
  padding: 1rem;
  height: 1.5rem;
  background-color: #3366ff;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1vw;
}

.title-1 {
  font-size: 0.9rem;
  font-family: 'Paperlogy-4Regular';
  margin-top: 2.2rem;
  margin-bottom: -1.5rem;
}

.title-2 {
  font-size: 1.7rem;
  font-family: "M PLUS 2", sans-serif;
}

.content {
  text-align: center;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text2 {
  font-family: 'Paperlogy-6SemiBold';
  font-size: 2rem;
  color: #3366ff;
  margin-top: 30px;
  font-weight: 400;
  margin-top: 10rem;
}

.name-submit {
  font-family: 'Paperlogy-5Medium';
  padding: 0.7rem 1.3rem;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: #3366ff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  align-items: center;
}

.name-input {
  font-family: 'Paperlogy-5Medium';
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 320px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1rem;
  text-align: center;
}

.footer-text {
  margin-top: 1.5rem;
  font-family: "M PLUS 2", sans-serif;
  font-size: 1rem;
  color: #000;
}
